<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Case</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Developer</th>
            <th>Total Task</th>
            <th>Total Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for developer in plan %}
            <tr>
                <td>{{ developer.name }}</td>
                <td>{{ developer.todos|length }}</td>
                <td>{{ developer.totalWeek }}w</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>